.tasks {
  overflow-y: scroll;
  padding-top: 20px;
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.taskButton {
  width: fit-content;
}
