.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pageTitle {
  font-size: 32px;
}

.listTitle {
  display: flex;
  justify-content: space-between;
}

.listButtons {
  display: flex;
  gap: 32px;
}