.dashboard {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.pageTitle {
  font-size: 32px;
}

.listTitle {
  display: flex;
  justify-content: space-between;
}

.listButtons {
  display: flex;
  gap: 32px;
}

.moveButtons {
  display: flex;
  gap: 8px;
}

.calenderWrap {
  height: 100%;
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.calendarGrid,
.calendarGridHead {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendarGrid {
  height: calc(100% - 40px);
}

.dayCellHead {
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  background-color: var(--color-border);
  padding: 4px;
  text-align: center;
}

.dayCell {
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  padding: 8px;
  height: auto;
}

.chipColor {
  width: 14px;
  height: 14px;
}

.taskChip {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.taskTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-block: 40px;
}

.timer .stopwatch {
  font-family: var(--font-mono);
  font-size: 64px;
  font-weight: 700;
}

.timer .timerButtons {
  display: flex;
  gap: 24px;
  width: 280px;
}

.timer .reportLink {
  color: var(--color-accent);
}

.timer .reportLink:hover {
  opacity: 0.8;
}

.today {
  margin-top: 24px;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.today .todayTitle {
  font-size: 24px;
  font-weight: 700;
}

.today .todayReports {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}

.today .reportsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-border);
}

.today .rowTime {
  color: #757575;
}

.praiseBackground {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.praiseModal {
  padding: 20px;
  width: 300px;
  height: fit-content;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
}